#map {
  width: 960px;
  height: 500px;
  margin: auto;
}

.terrContainer {
  padding: 0px !important;
}

.terr {
  background-color: #a6cfff;
  border-radius: 2rem;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.selected {
  background-color: #6db1ff !important;
  border: 1px solid black;
}

.totalProduction {
  background-color: #6db1ff;
  border-radius: 2rem;
  padding: 10px;
  margin: 10px;
}

#terrsToModify {
  margin: 20px;
}

.arrowText {
  border: 1px solid gray;
  padding: 5px !important;
  display: inline-block !important;
  font-size: 12px;
  width: 69% !important;
}

.upgradeBox {
  margin-top: 5px;
  margin-bottom: 5px;
}

th, td {
  padding: 5px;
}

.tradeInput {
  margin: 5px;
}

#updateTrade {
  margin: 5px;
  width: 100%;
}